# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=AQ.Ab8RN6LXMSoFs1Z8U0S5KpIfAyBJghAIMMbY8Y6UtP1lQlhakg

# SUPABASE CONFIGURATION: Required for Supabase Cloud Database & Sync
SUPABASE_URL=https://sjfvcxijfgbmeryuezoc.supabase.co
SUPABASE_KEY=sb_publishable_kgJPz5drPW8S6sgBAgaOhQ_7An9qUqQ
SUPABASE_PROJECT_ID=sjfvcxijfgbmeryuezoc

